$headerColor: #cecece;
$navColor: #ecf1f5;

body {
    margin: 0;
    line-height: 150%;
}

.wrapper {
    display: grid;
}

header {
    background-color: $headerColor;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    h1 {
        margin: 0;
        font-size: 28px;
        text-align: center;
    }
}

nav {
    background-color: $navColor;

    ul {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding-inline-start: 0;

        li {
            list-style: none;
            text-align: center;
            border-bottom-style: solid;
            border-width: 1px;

            a {
                text-decoration: none;
                color: inherit;
                display: block;
                height: 20px;
                padding: 15px;
            }
        }
    }
}

main {
    display: grid;
    padding: 20px;

    figure {
        margin: 0;
        margin: auto;

        img {
            margin: auto;
            width: 100%;
        }

    }

    p {
        font-size: 20px;
        text-align: center;
    }
}

footer {
    height: 60px;
    background-color: $headerColor;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) {
    nav {
        width: 100vw;

        ul {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: auto;
        }
    }
}